@charset "utf-8";

$fontPath: "@/assets/fonts/";

@font-face {
  font-family: "PB";
  font-weight: 700;
  font-display: swap;
  src: local("Pretendard Bold"),
    url("#{$fontPath}Pretendard-Bold.woff2") format("woff2"),
    url("#{$fontPath}Pretendard-Bold.woff") format("woff");
}

@font-face {
  font-family: "PM";
  font-weight: 500;
  font-display: swap;
  src: local("Pretendard Regular"),
    url("#{$fontPath}Pretendard-Regular.woff2") format("woff2"),
    url("#{$fontPath}Pretendard-Regular.woff") format("woff");
}

@font-face {
  font-family: "PR";
  font-weight: 400;
  font-display: swap;
  src: local("Pretendard light"),
    url("#{$fontPath}Pretendard-Light.woff2") format("woff2"),
    url("#{$fontPath}Pretendard-Light.woff") format("woff");
}
