// variables

// path
$imgPath: "@/public/images/";

// font
$font-face: PR, sans-serif;
$font-size: 10px;

// color
$color: #fff;
$bg: #05092b;

$primary: #3771fe;
// $dark: #232d2d;

$text: #a8b0c3;

$gray: rgba(#fff, 0.7);
$graya: rgba(#fff, 0.6);
$grayb: rgba(#fff, 0.26);

// size
$max: 1280px;
